html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: teal;
}

#container{

}

span{
    display: inline-block;
    white-space: normal;
    background-color: snow;
}

#lol{
 
}


#wordBank{
  justify-content: left;
  border: solid black 2px;
  height: 200px;
  font-size: 25px;
  background-color: snow;
}

#textEditor{
  border: solid black 2px;
  width: 1000px;
  height: 500px;
  font-size: 25px;
  background-color: snow;
  white-space: pre-wrap;
}
